<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tftkeiba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tftkeiba.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>ここにAPIKeyを入力</value>
            </setting>
            <setting name="ChampionsJsonName" serializeAs="String">
                <value>champions.json</value>
            </setting>
            <setting name="ItemsJsonName" serializeAs="String">
                <value>items.json</value>
            </setting>
            <setting name="TraitsJsonName" serializeAs="String">
                <value>traits.json</value>
            </setting>
            <setting name="IsGeneratingTanpyo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TiersJsonName" serializeAs="String">
                <value>tiers.json</value>
            </setting>
            <setting name="LeagueList" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldGetAllSummonerData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WideRegion" serializeAs="String">
                <value>AMERICAS</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>NA1</value>
            </setting>
            <setting name="IsUpgrated" serializeAs="String">
                <value>False</value>
            </setting>
        </tftkeiba.Properties.Settings>
    </userSettings>
</configuration>